.add-employee {
    .form-row {
        display: flex;
        flex-direction: column;
        width: 95%;

        .btn-row {
            height: 200px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }

        .form-text {
            display: flex;
            font-size: 22px;
            color: black;
            margin-left: 10px;
        }

        .form-input {
            border-radius: 10px;
            margin: 10px;
        }

        .form-dropdown {
            display: flex;
            button {
                width: 90%;
                background-color: $qrfsPurple;
                border: none;
                color: white;
            }
        }

        .submit-btn {
            min-width: 200px;
            height: 38px;
        }
    }
}

.list-employees {

    // Classes for role colors
    .admin-role {
        background-color: $qrfsPurple!important;
        color: white!important;
        display: inline-block;
        width: 170px;
        border-radius: 10px;
        padding: 5px 20px;
    }
    .sp-role {
        background-color: #5EB0CF!important;
        color: white!important;
        display: inline-block;
        width: 170px;
        border-radius: 10px;
        padding: 5px 20px;
    }
    .complainee-role {
        background-color: #83BA8E!important;
        color: white!important;
        display: inline-block;
        width: 170px;
        border-radius: 10px;
        padding: 5px 20px;
    }
}