.complaints-view {
    margin-left: 60px;
    margin-top: 50px;

    .table-row {
        margin-top: 30px;
        width: 95%;
    }
}

.add-complaint {
    display: flex;
    flex-direction: column;
    align-items: center;

    .add-complaint-header {
        display: flex;
        width: 95%;
        margin-top: 15px;

    }

    .add-complaint-subheading {
        display: flex;
        width: 95%;
        height: 50px;
        background-color: $qrfsPurple;
        align-items: center;

        p {
            font-size: 22px;
            color: white;
            font-weight: 300;
            margin: 10px 10px 10px 20px;
        }
    }

    .complaint-form-container {
        width: 95%;
    }
}