.top-header {
    display: flex;
    margin-left: 58px;
    .name-heading {
        align-items: flex-start;
        justify-self: flex-start;
    }
}

.card-row {
    width: 80%;
    margin-top: 50px;
    margin-left: 58px;
}