.login {
    background: linear-gradient(180deg, #9795F0 0%, rgba(196, 172, 227, 0.546875) 99.99%, rgba(251, 200, 212, 0) 100%);
    width: 100vw;
    height: 100vh;

    .login-container {
        width: 31.688rem;
        height: 40%;
    }

    .login-logo {
        width: 334px;
        height: 195px;
    }

    .login-form {
        width: 100%;
        height: 30%;
        background-color: $qrfsGray;
        padding: 32px 54px 42px 54px;
        border-radius: 10px!important;
    }

    .login-icon {
        height: 48px!important;
        border-radius: 10px;
        background-color: white!important;
        border: none;
    }

    .login-btn {
        width: 100%;
        min-height: 48px;
        font-size: 20px;
        border-radius: 10px!important;
    }

    .login-input {
        width: 100%;
        min-height: 48px;
        border-radius: 0px 10px 10px 0px!important;
        border: none;
        margin-bottom: 30px;
    }

    .heading-text {
        font-size: 20px;
    }

    .small-text {
        font-size: 14px;
        color: #675B5B;
        text-decoration: none;
    }
}