.register-input {
    width: 100%;
    min-height: 48px;
    border-radius: 10px!important;
    border: none;
    margin-bottom: 30px;
}

.register-form-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    color: #675B5B;
}

.t-and-c {
    font-size: 13px;
    color: white;
}