.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .sidebar-item {
        margin: 1.1rem;
        min-width: 11.5rem;
        display: flex;
        align-items: flex-start;

        .item-icon {
            margin-right: 10px;
        }

        .item-title {
            text-decoration: none;
            color: white;
            font-weight: 500;
        }
    }

    .nav-active {

        .item-title{
            color: #9747FF;
        }
    }
}