.customers-view {
    margin-left: 60px;
    margin-top: 50px;

    .table-row {
        margin-top: 30px;
        width: 95%;
    }

    .active-role {
        background-color: lightgreen;
        color: white!important;
        display: inline-block;
        width: 100px;
        border-radius: 10px;
        padding: 5px 20px;
        margin-top: 5px;
    }
}

.add-customer {
    .form-row {
        display: flex;
        flex-direction: column;
        width: 95%;

        .btn-row {
            height: 200px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }

        .form-text {
            display: flex;
            font-size: 22px;
            color: black;
            margin-left: 10px;
        }

        .form-input {
            border-radius: 10px;
            margin: 10px;
        }

        .form-dropdown {
            display: flex;
            button {
                width: 90%;
                background-color: $qrfsPurple;
                border: none;
                color: white;
            }
        }

        .submit-btn {
            min-width: 200px;
            height: 38px;
        }
    }
}